# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environments
.env
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Project-Indiv
assignment_details/Numerical Assignment.pdf
assignment_details/Sample_submission.csv

analysis/Lasso/models/Bootstrapped_Lasso.sav